<!DOCTYPE html>
<html>
<head>
    <title>Rix : Resource Interactive eXplorer </title>
    <link rel="stylesheet" type="text/css" href="~/Content/home.css">
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="site-center">
            <h1 class="header-title">
                <a href="http://localhost/rix/index.html">RiX</a>
            </h1>
            <ul class="menu-wrapper">
                <li class="menu-item">
                    <a href="http://localhost/rix/index.html">home</a>
                </li>
                <li class="menu-item menu-item--active">
                    <a href="http://localhost/rix/search.html">search</a>
                </li>
                <li class="menu-item menu-item--logged">
                    Signed in as
                    <a style="margin-left:5px" href="http://localhost/rix/profile.html">Dacian Spinu</a>
                </li>
                <li class="menu-item menu-item--log-out">
                    <a href="http://localhost/rix/relog.html">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="search-bar-container">
        <form class="search">
            <input type="text" placeholder="Enter keyword...">
        </form>
        <div class="search-message">
            You searched for:
            <div class="key-terms">
                <a href="#">HTML</a>
                <a href="#">CSS</a>
                <a href="#">JavaScript</a>
            </div>
        </div>
    </div>
    <div class="results-container">
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer footer-alternate">
        <div class="site-center">
            <ul class="footer-column">
                <li class="column-item column-item--hero">SITE</li>
                <li class="column-item">
                    <a href="#">
                        HOME
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        SEARCH
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        LOG IN
                    </a>
                </li>
            </ul>
            <ul class="footer-column">
                <li class="column-item column-item--hero">ABOUT</li>
                <li class="column-item">
                    <a href="#">
                        API
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        THE TEAM
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        WHERE WE PULL FROM
                    </a>
                </li>
            </ul>
            <ul class="footer-column">
                <li class="column-item column-item--hero">SOCIAL</li>
                <li class="column-item">
                    <a href="#">FACEBOOK</a>
                </li>
                <li class="column-item">
                    <a href="#">TWITTER</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>